* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #E0F2FE;
    ;
}

h1 {
    text-align: center;
    background-color: #6366F1;
    color: white;
}

img {
    height: 20vmin;

    padding: 0px;
    line-height: 0px;
    margin: 0px;
    border-radius: 100%;
}

.choices {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 15vmin;
    gap: 6px;
    border-radius: 50%;
}

.choice:hover {
    border: 2px solid black;

}

.scoreboard {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 100px;
    text-align: center;
    font: 50px;
}

h2 {
    font-size: 35px;
    margin-top: 30px;
}

#you {
    font-size: 25px;

    order: 1;
}

#computer {
    font-size: 25px;
    order: 2;
}

#msg {
    font-size: 20px;
    margin-top: 30px;
    display: inline;
    border-radius: 1rem;
    width: 200px;
    height: 50px;
    color: white;
    background-color: black;
}

#no1 {

    font-size: 25px
}

#no2 {

    font-size: 25px;

}

p {
    margin-top: 20px;
}

.msg-container {
    font-size: 50px;
}

#msg:hover {
    background-color: #4d4033;
    cursor: pointer;
}